<html>
    <head>
        <title>Mihir's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Mihir's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello, This Is My First Post...</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This Is My Second Post.</p>
        </div>
    </body>
</html>

